In [ ]:
%load_ext sql

In [ ]:
%sql postgresql://student:student@127.0.0.1/sparkifydb

In [ ]:
%sql SELECT * FROM songplays LIMIT 5;

In [ ]:
%sql SELECT * FROM users LIMIT 5;

In [ ]:
%sql SELECT * FROM songs LIMIT 5;

In [ ]:
%sql SELECT * FROM artists LIMIT 5;

In [ ]:
%sql SELECT * FROM time LIMIT 5;

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).

# song play analysis

Execute the following SQL to find out how many times a user has played a song in a month.

In [ ]:
%sql SELECT user_id, month, year, count(*) FROM songplays \
JOIN time ON songplays.start_time = time.start_time \
GROUP BY user_id, month, year;